.page-header {
  display: flex;
  justify-content: flex-end;
  margin: auto 60px;
}

.filter-container div {
  margin: 10px;
}

.page-header .search-container {
  display: flex;
}

.page-header .search-container img {
  height: 40px;
  align-items: center;
}

.page-header .search-container input {
  border: none;
  height: 40px;
  width: 90%;
  font-size: 14px;
}

.page-header .btn-filter {
  display: flex;
  align-items: center;
  width: 10%;
}

.btn-filter div {
  align-items: center;
  width: 100%;
}
.btn-filter button {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  border: none;
  background-color: rgb(235, 235, 235);
  color: rgb(100, 100, 100);
  font-weight: 400;
}

.btn-filter button:hover {
  cursor: pointer;
}

.btn-filter img {
  height: 20px;
  align-items: center;
}
