.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.nav-btn {
  background-color: #fff;
  font-size: 1em;
  font-weight: 400;
  border: none;
  transition: 0.4s;
  width: 6em;
  height: 100%;
  font-family: Roboto, sans-serif;
}

.nav-btn:hover {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px solid rgb(255, 0, 115);
}

.btn-div {
  height: 100%;
}
